[workspace]
members = [
  "aead",
  "daead",
  "integration/awskms",
  "mac",
  "prf",
  "rinkey",
  "signature",
  "testing",
  "testutil",
  "tink",
]

# Patch dependencies on tink crates so that they refer to the versions within this same repository.
[patch.crates-io]
rinkey = { path = "rinkey" }
tink = { path = "tink" }
tink-aead = { path = "aead" }
tink-awskms = { path = "integration/awskms" }
tink-daead = { path = "daead" }
tink-mac = { path = "mac" }
tink-prf = { path = "prf" }
tink-signature = { path = "signature" }
tink-testing-server = { path = "testing" }
tink-testutil = { path = "testutil" }
