[package]
name = "tink-testing-server"
version = "0.1.0"
authors = ["David Drysdale <drysdale@google.com>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
env_logger = "^0.8.2"
futures = "^0.3.8"
log = "^0.4.11"
prost = "^0.6.1"
structopt = "^0.3.21"
tink = { version = "^0.1", features = [
  "insecure",
  "json",
 ] }
tink-aead = "^0.1"
tink-daead = "^0.1"
tink-mac = "^0.1"
tink-prf = "^0.1"
tink-signature = "^0.1"
tokio = { version = "^0.2.22", features = [
  "macros",
  "rt-threaded",
  "signal",
] }
tonic = "^0.3.1"

[build-dependencies]
tonic-build = "^0.3.1"
