[package]
name = "tink-core"
version = "0.3.0"
authors = ["David Drysdale <drysdale@google.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Core crate for Rust port of Google's Tink cryptography library"
repository = "https://github.com/project-oak/tink-rust"
keywords = ["cryptography", "tink"]
categories = ["cryptography"]

[features]
default = []
# The `insecure` feature enables methods that expose unencrypted key material
insecure = []
# The `json` feature enables methods for serializing keysets to/from JSON.
json = ["tink-proto/json", "serde", "serde_json", "std"]
# The `std` feature enables:
# - the `StreamingAead` primitive
# - full `Error` behaviour for `TinkError`
# - methods for serializing keysets to/from binary.
std = []

[dependencies]
digest = "^0.9"
hkdf = "^0.11"
lazy_static = { version = "^1.4", features = ["spin_no_std"] }
prost = { version = "^0.8", default-features = false }
rand = { version = "^0.7", default-features = false, features = ["alloc", "getrandom"] }
serde = { version = "^1.0.126", features = ["derive"], optional = true }
serde_json = { version = "^1.0.64", optional = true }
sha-1 = { version = "^0.9.7", default-features = false }
sha2 = { version = "^0.9.5", default-features = false }
spin = { version = "^0.9.2", features = ["once"] }
subtle = { version = "^2.4", default-features = false }
tink-proto = "^0.3"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
