[package]
name = "example-aead"
version = "0.1.0"
authors = ["David Drysdale <drysdale@google.com>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
hex = "^0.4.3"
tink-aead = "^0.1"
tink-core = "^0.1"
