[package]
name = "tink-streaming-aead"
version = "0.3.0"
authors = ["David Drysdale <drysdale@google.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Streaming AEAD functionality for Rust port of Google's Tink cryptography library"
repository = "https://github.com/project-oak/tink-rust"
keywords = ["cryptography", "tink", "streaming-aead"]
categories = ["cryptography"]

[dependencies]
aes = { version = "^0.7.4", features = ["ctr"] }
aes-gcm = { version = "^0.9.2" }
prost = { version = "^0.8", default-features = false }
rand = { version = "^0.7", default-features = false, features = ["alloc", "getrandom"] }
tink-core = { version = "^0.3", features = ["std"] }
tink-mac = "^0.3"
tink-proto = "^0.3"
